asttokens==2.4.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
docker-pycreds==0.4.0
exceptiongroup==1.2.2
executing==2.0.1
Farama-Notifications==0.0.4
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
fonttools==4.53.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
gmpy2 @ file:///C:/ci/gmpy2_1645455782955/work
gym==0.26.2
gym-notices==0.0.8
-e git+https://github.com/hungngodev/SugarRush-Bot.git@d6d84b46380ffaf38ae00f5092bfe862c5add2b0#egg=gym_match3&subdirectory=gym_match3\gym_match3
gymnasium==0.29.1
idna==3.7
importlib_metadata==8.2.0
importlib_resources==6.4.0
ipython==8.18.1
jedi==0.19.1
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
kiwisolver==1.4.5
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.9.1
matplotlib-inline==0.1.7
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_3bxnu56g9d/croot/networkx_1717597507456/work
numpy==1.26.4
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
parso==0.8.4
pillow==10.4.0
platformdirs==4.2.2
prompt_toolkit==3.0.47
protobuf==5.27.2
psutil==6.0.0
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
requests==2.32.3
sentry-sdk==2.11.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
stack-data==0.6.3
sympy @ file:///C:/b/abs_82njkonm7f/croot/sympy_1701397685028/work
tensordict==0.4.0
torch==2.4.0
torchrl==0.4.0
traitlets==5.14.3
typing_extensions @ file:///C:/b/abs_0as9mdbkfl/croot/typing_extensions_1715268906610/work
tzdata==2024.1
urllib3==2.2.2
wandb==0.17.5
wcwidth==0.2.13
zipp==3.19.2
